<% if slider.size > 0 && @body_id.present? && @body_id == 'home-page' %>
<script src="https://player.vimeo.com/api/player.js"></script>
  <%# generate a random number for the carousel id - in case you want multiple per page %>
  <% cid ||= Random.rand(1000) %>

  <div id="carousel-slider-<%= cid %>" class="carousel slide" data-ride="carousel" <%= (defined? interval) != nil ? "data-interval=#{interval.to_s}" : "" %>>
    <%# Indicators %>
    <ol class="carousel-indicators">
      <% slider.each_with_index do |slide, index| %>
        <li data-target="#carousel-prod-<%= cid %>" data-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %>"></li>
      <% end %>
    </ol>

    <%# Wrapper for slider %>
    <div class="carousel-inner">
      <% slider.each_with_index do |slide, index| %>
        <div class="item <%= index == 0 ? 'active' : '' %>">
          <% if slide.is_image? %>
            <%= link_to image_tag(slide.slide_image.url, alt: slide.slide_name), url_for(slide.slide_link) %>
          <% elsif slide.asset_url.include?('vimeo.com') %>
            <%= link_to url_for(slide.slide_link) do %>
              <div class="video_container">
                <div id="video_<%= slide.id %>" class='video_background'></div>
                <script>
                  var options = {
                      id: <%= slide.asset_url.split('/').last.split('?').first %>,
                      loop: true,
                      autoplay: true,
                      background: true,
                      byline: false
                  };
                  var player = new Vimeo.Player('video_<%= slide.id %>', options);
                    player.ready().then(function() {
                      player.setVolume(0);
                      player.play(0);
                    });
                </script>
              </div>
            <% end %>
          <% elsif slide.asset_url.include?('youtube.com') %>
            <%= link_to url_for(slide.slide_link) do %>
              <div class="video_container">
                <div id="video_<%= slide.id %>" class='video_background'>
                </div>
              </div>
              <script>
                    // 2. This code loads the IFrame Player API code asynchronously.
                    var tag = document.createElement('script');
                    tag.src = "https://www.youtube.com/iframe_api";
                    var firstScriptTag = document.getElementsByTagName('script')[0];
                    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
                    // 3. This function creates an <iframe> (and YouTube player)
                    //    after the API code downloads.
                    var player;
                    function onYouTubeIframeAPIReady() {
                      player = new YT.Player('video_<%= slide.id %>', {
                        videoId: '<%= slide.asset_url.split('?v=').last.split('&').first %>',
                        events: {
                          'onReady': onPlayerReady,
                          'onStateChange': onPlayerStateChange
                        },
                        playerVars: {
                            controls: 0,
                            disablekb: 1,
                            loop: 1,
                            autoplay: 1
                        }
                      });
                    }
                    // 4. The API will call this function when the video player is ready.
                    function onPlayerReady(event) {
                         event.target.setVolume(0);
                          event.target.playVideo();
                    }
                    // 5. The API calls this function when the player's state changes.
                    //    The function indicates that when playing a video (state=1),
                    //    the player should play for six seconds and then stop.
                    var done = false;
                    function onPlayerStateChange(event) {
                      if (event.data == YT.PlayerState.PLAYING && !done) {
                  //      setTimeout(stopVideo, 6000);
                                done = true;
                      }
                         event.target.setVolume(0);
                    }
              </script>
            <% end %>
          <% end %>
          <% if slide.is_image? %>
            <div class="carousel-caption">
              <h3><%= slide.slide_name %></h3>
              <% unless slide.body.blank? %>
                <p><%= slide.body %><p>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <%# Controls %>
    <% if slider.present? && slider.size > 1 %>
      <a class="left carousel-control" href="#carousel-slider-<%= cid %>" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only"><%= t(:previous) %></span>
      </a>
      <a class="right carousel-control" href="#carousel-slider-<%= cid %>" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only"><%= t(:next) %></span>
      </a>
    <% end %>

  </div>

<% end %>
